[submodule "libs/hbb_common"]
	path = libs/hbb_common
	url = https://github.com/exyoyou/hbb_common
[submodule "flutter/android/opencv"]
	path = flutter/android/opencv
	url = https://github.com/exyoyou/opencv-android-sdk.git
